{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb-base"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
    // "ecmaVersion": 12,
    // "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "eofline": 0,
    "max-line-length": 0,
    "no-increment-decrement": 0,
    "import-name": 0
  }
}